node_modules
.idea
.vscode
.DS_Store
cypress/config/local.js
cypress/videos
cypress/screenshots/
cypress/downloads
dump.js
cypress.env.json
package-lock.json
logs
ci/logs/*
ci/.venv
.venv
ci/__pycache__